body {
    background-color: #C5CBE8;
}

table,
tr,
td {
    background-color: white;
    font-family: century gothic;
    color: #202124;
    border: 1px solid #C5CBE8;
    padding: 5px;
    border-collapse: collapse;
}

h1 {
    text-align: center;
    color: #747FD1;
}

.container {
    display: flex;
    justify-content: center;
}